page-leaders {
  .title {
    font-size: 24px;
    font-weight: 500;
  }

  .subtitle {
    font-size: 12px;
  }

  ion-spinner{
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    height: 85px;
    text-align: center;
  }
}
