<ion-header>
  <ion-navbar no-border-bottom>
    <ion-title>
      Leaders
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="openSearchUserModal()">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="segment" no-lines>
      <ion-segment-button value="receivers">
        Receivers
      </ion-segment-button>
      <ion-segment-button value="senders">
        Senders
      </ion-segment-button>
      <ion-segment-button value="endorsement">
        Endorsements
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div *ngIf="segment == 'receivers'">
    <div *ngIf="receiversList">
      <ion-list no-lines>
        <ion-item *ngFor="let receiver of receiversList; let index = index"
                  (click)="openUserModal(receiver.userId)">
          <div item-left text-center padding-right>
            <p class="title">{{index + 1}}<span class="subtitle">{{checkPlace(index + 1)}}</span></p>
            <p class="subtitle">place</p>
          </div>
          <ion-avatar item-left>
            <kudos-user-icon [fullName]="receiver.fullName" [circle]="false"></kudos-user-icon>
          </ion-avatar>
          <h2>{{receiver.fullName}}</h2>
          <div item-right text-center>
            <ion-badge>{{receiver.kudosAmount}}</ion-badge>
            <p class="subtitle">points</p>
          </div>
        </ion-item>
      </ion-list>
    </div>
  </div>

  <div *ngIf="segment == 'senders'">
    <div *ngIf="sendersList">
      <ion-list no-lines>
        <ion-item *ngFor="let sender of sendersList; let index = index"
                  (click)="openUserModal(sender.userId)">
          <div item-left text-center padding-right>
            <p class="title">{{index + 1}}<span class="subtitle">{{checkPlace(index + 1)}}</span></p>
            <p class="subtitle">place</p>
          </div>
          <ion-avatar item-left>
            <kudos-user-icon [fullName]="sender.fullName" [circle]="false"></kudos-user-icon>
          </ion-avatar>
          <h2>{{sender.fullName}}</h2>
          <div item-right text-center>
            <ion-badge>{{sender.kudosAmount}}</ion-badge>
            <p class="subtitle">points</p>
          </div>
        </ion-item>
      </ion-list>
    </div>
  </div>

  <div *ngIf="segment == 'endorsement'">
    <div text-center>
      <button ion-button icon-right clear
              type="button"
              (click)="presentEndorsementsModal()">
        Select Endorsement
        <ion-icon name="arrow-dropright"></ion-icon>
      </button>
      <p *ngIf="selectedEndorsement">Leaders for <ion-chip color="primary"><ion-label>{{selectedEndorsement}}</ion-label></ion-chip></p>
    </div>
    <ion-spinner *ngIf="showLoader"></ion-spinner>
    <div *ngIf="endorsedLeadersList">
      <ion-list no-lines>
        <ion-item *ngFor="let leader of endorsedLeadersList; let index = index"
                  (click)="openUserModal(leader.userId)">
          <div item-left text-center padding-right>
            <p class="title">{{index + 1}}<span class="subtitle">{{checkPlace(index + 1)}}</span></p>
            <p class="subtitle">place</p>
          </div>
          <ion-avatar item-left>
            <kudos-user-icon [fullName]="leader.fullName" [circle]="false"></kudos-user-icon>
          </ion-avatar>
          <h2>{{leader.fullName}}</h2>
          <div item-right text-center>
            <ion-badge>{{leader.kudosAmount}}</ion-badge>
            <p class="subtitle">points</p>
          </div>
        </ion-item>
      </ion-list>
    </div>
  </div>

</ion-content>
