<ion-content padding>

  <ion-title text-center>Sign Up</ion-title>

  <form (ngSubmit)="register()">

    <ion-item>
      <ion-label stacked>First Name</ion-label>
      <ion-input type="text" [(ngModel)]="signUpForm.firstName" name="firstName"></ion-input>
    </ion-item>
    <!--<p *ngIf="error.fieldErrors[0]" >{{error.fieldErrors[0].message}}</p>-->

    <ion-item>
      <ion-label stacked>Last Name</ion-label>
      <ion-input type="text" [(ngModel)]="signUpForm.lastName" name="lastName"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Email</ion-label>
      <ion-input type="text" [(ngModel)]="signUpForm.email" name="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Password</ion-label>
      <ion-input type="password" [(ngModel)]="signUpForm.password" name="password"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Confirm Password</ion-label>
      <ion-input type="password" [(ngModel)]="signUpForm.confirmPassword" name="confirmPassword"></ion-input>
    </ion-item>

    <div padding class="error" *ngIf="error">
      <p text-center ><ion-icon name="information-circle"></ion-icon> {{error.fieldErrors[0].message}}</p>
    </div>

    <div padding>
      <button ion-button type="submit" block>Sign Up</button>
    </div>

  </form>

  <ion-item text-center no-lines>
    <p>Already a member?</p>
    <button ion-button (click)="redirectToLogin()" small outline>Login</button>
  </ion-item>

</ion-content>
