a {
  text-decoration: none;
}

.level {
  .title {
    font-size: 24px;
    font-weight: 500;
  }

  .subtitle {
    font-size: 12px;
  }
}

.small {
  font-size: 12px;
}

.badge-padding {
  padding-top: 8px;
}

.error {
  padding: 6px;
  margin: 12px 20px 0 20px;
  border: 1px solid #c0392b;
  background: #e74c3c;
  border-radius: 5px;
  color: #ffffff;
}
