<ion-header>
  <ion-navbar>
    <ion-title>
      History
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let item of kudosHistoryList">
    <ion-card-content>
      <a href="javascript:"
         (click)="openUserModal(item.senderId)">{{item.senderFullName}}</a> sent
      <ion-badge>{{item.amount}}</ion-badge>
      <span> kudos </span> to
      <a href="javascript:"
         (click)="openUserModal(item.receiverId)">{{item.receiverFullName}}</a>
      <span *ngIf="item.endorsement"> and endorsed for <ion-badge>{{item.endorsement}}</ion-badge></span>
      <span class="kudos-date">{{item.date | date}}</span>
      <div class="message">
        <ion-icon name="mail"></ion-icon>
        {{item.message}}
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
