<ion-header>
  <ion-toolbar>
    <ion-title>
      <ion-title text-center>{{userProfile.firstName}} Profile</ion-title>
    </ion-title>
    <ion-buttons left>
      <button ion-button (click)="dismiss()">
        <span color="primary" showWhen="ios">Close</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <div *ngIf="userProfile" text-center>

    <div>
      <kudos-user-icon fullName="{{getUserFullName()}}" size="2"></kudos-user-icon>
      <h4>{{userProfile.firstName}} {{userProfile.lastName}}</h4>

      <ion-grid>
        <ion-row>
          <ion-col width-33>
            <span>Total Kudos</span>
            <div class="badge-padding">
              <ion-badge>{{userProfile.totalKudos}}</ion-badge>
            </div>
          </ion-col>
          <ion-col width-33>
            <div class="level">
              <div class="title">{{userProfile.level}}</div>
              <div class="subtitle">Level</div>
            </div>
          </ion-col>
          <ion-col width-33>
            <span>Weekly Kudos</span>
            <div class="badge-padding">
              <ion-badge>{{userProfile.weeklyKudos}}</ion-badge>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>

    </div>

    <ion-segment [(ngModel)]="segment">
      <ion-segment-button value="transactions">
        Transactions
      </ion-segment-button>
      <ion-segment-button value="endorsements">
        Endorsements
      </ion-segment-button>
    </ion-segment>

    <div *ngIf="segment == 'transactions'">
      <ion-card *ngFor="let item of kudosHistoryList">
        <ion-card-content>
          <a href="javascript:"
             (click)="openUserModal(item.senderId)">{{item.senderFullName}}</a> sent
          <ion-badge>{{item.amount}}</ion-badge>
          <span> kudos </span> to
          <a href="javascript:"
             (click)="openUserModal(item.receiverId)">{{item.receiverFullName}}</a>
          <span class="kudos-date">{{item.date | date}}</span>
          <div class="message">
            <ion-icon name="mail"></ion-icon>
            {{item.message}}
          </div>
        </ion-card-content>
      </ion-card>

      <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content>
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </div>

    <div *ngIf="segment == 'endorsements'">
      <div *ngIf="endorsementsList">
        <ion-list no-lines>
          <ion-item *ngFor="let endorsement of endorsementsList"
                    (click)="openEndorsedTransactionsModal(endorsement.title)">
            <label item-left>
              {{endorsement.title}}
            </label>
            <ion-badge item-right>
              {{endorsement.value}}
            </ion-badge>
          </ion-item>
        </ion-list>
      </div>
    </div>

  </div>
</ion-content>
